Options -Indexes
RewriteEngine On
RewriteBase /

# racine du projet
RewriteRule ^admin$ admin.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^inscription$ inscription.php [L]
RewriteRule ^dashboard$ dashboard.php [L]

# pages admin
RewriteRule ^avis$ view/pages/admin/Avis/avis.php [L]
RewriteRule ^demande$ view/pages/admin/DemandeProprietaire/demandeProprietaire.php [L]
RewriteRule ^logement$ view/pages/admin/Logement/logement.php [L]
RewriteRule ^reservationLogement$ view/pages/admin/ReservationLogement/reservationLogement.php [L]
RewriteRule ^excursion$ view/pages/admin/Excursion/excursion.php [L]
RewriteRule ^reservationExcursion$ view/pages/admin/ReservationExcursion/reservationExcursion.php [L]
RewriteRule ^utilisateur$ view/pages/admin/User/user.php [L]

# pages client
RewriteRule ^listeExcursion$ view/pages/vitrine/listeExcursion/listeExcursion.php [L]
RewriteRule ^listeLogements$ view/pages/vitrine/listeLogements/listeLogements.php [L]

# controllers
RewriteRule ^userController$ controller/UserController.php [L]
RewriteRule ^excursionController$ controller/ExcursionController.php [L]
RewriteRule ^logementController$ controller/LogementController.php [L]
RewriteRule ^reservationLogementController$ controller/ReservationLogementController.php [L]
RewriteRule ^reservationExcursionController$ controller/ReservationExcursionController.php [L]
RewriteRule ^avisController$ controller/AvisController.php [L]
RewriteRule ^demandeController$ controller/DemandeProprietaireController.php [L]

# models
RewriteRule ^userDB$ model/UserDB.php [L]
RewriteRule ^excursionDB$ model/ExcursionDB.php [L]
RewriteRule ^logementDB$ model/LogementDB.php [L]
RewriteRule ^reservationLogementDB$ model/ReservationLogementDB.php [L]
RewriteRule ^reservationExcursionDB$ model/ReservationExcursionDB.php [L]
RewriteRule ^avisDB$ model/AvisDB.php [L]

# pages client détail
RewriteRule ^logementDetail$ view/pages/client/logementDetail.php [L]
RewriteRule ^excursionDetail$ view/pages/client/excursionDetail.php [L]

# controllers client
RewriteRule ^clientController$ controller/ClientController.php [L]
RewriteRule ^demandeClientController$ controller/DemandeClientController.php [L]
