RewriteEngine On

RewriteRule ^login$ login.php

# Controller
RewriteRule ^userController$ controller/userController.php
RewriteRule ^contactController$ controller/contactController.php

# Model
RewriteRule ^userModel$ model/userModel.php 
RewriteRule ^contactModel$ model/contactModel.php 

# view 
RewriteRule ^listeUsers$ view/users.php 
RewriteRule ^listeContacts$ view/contacts.php